@page  "/ergastdrivers"

@using Microsoft.AspNetCore.Components.Forms
@using DriveToGetDataWebsitePrototype.Services;
@using DriveToGetDataWebsitePrototype.Models;

@inject ErgastF1Service DriverService 

@rendermode InteractiveServer

<PageTitle>Drivers</PageTitle>

<h3>Ergast F1 Drivers List</h3>

@if (f1drivers == null) //if data is loading slowly
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="form-group">
        <label for="driverSelect">Select a Driver:</label>
        <select id="driverSelect" class="form-control" @bind="selectedDriver">
            <option value="">-- Select a Driver --</option>
            @foreach (var driver in f1drivers)
            {
                <option value="@driver.DriverId">@driver.GivenName @driver.FamilyName</option>
            }
        </select>
    </div>
}



@if (!string.IsNullOrEmpty(selectedDriver))
{
    var selectedDriverData = f1drivers.FirstOrDefault(driver => driver.DriverId == selectedDriver);
    if (selectedDriverData != null)
    {
        <h4>Selected Driver: @selectedDriverData.GivenName</h4>
        <p>Driver ID: @selectedDriverData.DriverId</p>
        <p>Nationality: @selectedDriverData.Nationality</p>
    }
}
@code
{
    private List<Driver> f1drivers;
    private string selectedDriver;

    protected override async Task OnInitializedAsync()
    {
        f1drivers = await DriverService.GetErgastDriversAsync();
    }
}
