@page "/racedata"

@inject HttpClient httpClient
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.AspNetCore.Components.Forms
@using DriveToGetDataWebsitePrototype.Services;
@using DriveToGetDataWebsitePrototype.Models;

@inject ErgastF1Service ErgastService

@rendermode InteractiveServer

<h3>Race Data</h3>

<div>
    <label for="drivers">Drivers:</label>
    <select id="drivers" @bind="@selectedDriver">
        <option value="">Select a driver</option>
        @if (drivers != null)
        {
            @foreach (var driver in drivers)
            {
                <option value="@driver.driverId">@($"{driver.GivenName} {driver.FamilyName}")</option>
            }
        }
    </select>
</div>

@* <div>
    <label for="raceRounds">Race Rounds:</label>
    <select id="raceRounds" @bind="@selectedRaceRound">
        <option value="">Select a race round</option>
        @if (raceRound != null)
        {
            @foreach (var RaceRound in raceRound)
            {
                <option value="@RaceRound.Round">@RaceRound.Round</option>
            }
        }
    </select>
</div>
 *@
@if (!string.IsNullOrEmpty(selectedDriver) @* && !string.IsNullOrEmpty(selectedRaceRound) *@)
{
    <button @onclick="GetResults">Get Results</button>

    @if (results != null)
    {
        @foreach (var race in results)
        {
            <h4 class="mt-4">@race.RaceName</h4>
            <table class="table table-bordered w-50">
                <thead>
                    <tr class="bg-info">
                        <th>Driver</th>
                        <th>Starting Grid Position</th>
                        <th>Finishing Status</th>
                        <th>Finishing Position</th>
                        <th class="text-center">Points</th>
                        <th class="text-center">Laps Completed</th>
                        <th>Fastest Lap Time</th>
                        <th>Fastest Lap Overall Rank</th>
                    </tr>
                </thead>
                <tbody>
                    @* @foreach (var race in results)
                    { *@
                        <tr>
                            <td>
                                @if (race.Drivers != null && race.Drivers.Any())
                                {
                                    @string.Join(" ", race.Drivers.Select(d => $"{d.GivenName} {d.FamilyName}"))
                                }
                            </td>
                            <td>@race.Grid</td>
                            <td>@race.Status</td>
                            <td class="text-center">@race.Position</td>
                            <td class="text-center">@race.Points</td>
                            <td class="text-center">@race.Laps</td>
                            <td>@race.FastestLaps.FirstOrDefault()?.Time</td>
                            <td>@race.FastestLaps.FirstOrDefault()?.Rank</td>
                        </tr>
                    
                </tbody>
            </table>
        }
    }
}


@code {
    private List<Driver> drivers;
    //    private List<Race> raceRound;
    private List<Race> results;
    private string selectedDriver { get; set; }
    //    private string selectedRaceRound;

    protected override async Task OnInitializedAsync()
    {
        drivers = await ErgastService.GetErgastDriversAsync();
        // results = await ErgastService.GetErgastRaceResultsAsync();
    }

    private async Task GetResults()
    {

        results = await ErgastService.GetRaceResultsAsync(selectedDriver);
    }
}